.b0
{
    width: 245px;
    height: 55px;
    font-size: 20px;
    border-radius: 15px;
    padding-top: 7px;
}

label.b1
{
    font-size: 20px;
}

input.b1
{
    width: 245px;
    height: 55px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
}

button.b2
{
    width: 70px;
    height: 55px;
    font-size: 20px;
    border-radius: 15px;
    padding: 3px;
    left: 86px;
    top: 30px;
    background-color: #773A3A;
    color: white;
    position: relative;
}

label.b3
{
    font-size: 3vw;
}

input.b3
{
    width: 35vw;
    height: 8vw;
    font-size: 3vw;
    border-radius: 2vw;
    background-color: #fff;
    color: #000;
}

button.b4
{
    display: inline-block;
    width: 15vw;
    height: 6vw;
    padding-bottom: 0.5vw;
    font-size: 3vw;
    background-color: #773A3A;
    color: white;
    position: relative;
    border-radius: 2vw;
}

.b5
{
    width: 50vw;
    height: 8vw;
    font-size: 3vw;
    border-radius: 2vw;
    padding-top: 1vw;
}