textarea.textarea0
{
    width: 345px;
    height: 305px;
    outline-width: 0;
    border-style: none;
    background:#e6d0bd;
    color:#fff;
    outline:#000;
    font-family: Courier;
    font-size: 20px;
    white-space: pre-wrap;
}